{% extends "base.html" %}

{% block content %}
<div class="detail ">
    <div class="ribbon ribbon-left ribbon-in">
        <div class="ribbon-stitch">
            <div class="ribbon-fabric"><p> Creation <i class="fa fa-eye "></i> User</p></div>
            <div class="ribbon-top-left"></div>
            <div class="ribbon-bottom-left"></div>
        </div>
    </div>
    <div class="paper paper-raise">
    <form method="post" action="./?return_url={{ request.path }} ">{% csrf_token %}
      {{ form.media }}
        {% for field in form %}
    <p>{{ field.label}}</p><p> {{ field }} {% for error in field.errors %}{{ error }}{% endfor %}</p>

{% endfor %}
    <input class="save_button" type="submit" value="Save" />
    </form>
    
</div>
</div>
{% endblock %}