<!DOCTYPE html>
<html lang="en">
<head>
    {% load static from staticfiles %}
	<meta charset="UTF-8">
    <link rel="stylesheet" href="/static/django_tables2/themes/paleblue/css/screen.css" />
    <link rel="shortcut icon" href="/static/img/favicon.ico" >
    <link rel="icon" type="/static/img/image/gif" href="animated_favicon1.gif" >
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/animate.css" rel="stylesheet">
    <script src="/static/js/jquery-1.11.1.min.js"></script>
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/beemuse.min.css" rel="stylesheet">
	<title>BizzFuzz </title>

</head>

<body>
    <div class="toppanel">
        <a href="/"><div class="logo ">Bizzfuzz Users</div></a>
        <nav>
            <ul>
                <li><a class="zayavka fa fa-crosshairs" href="/">All users list</a></li>
                <li><a class="zayavka fa fa-user" href="/add">add</a></li>
            </ul>
        </nav>
    </div>
<div class="clear"></div>
    <div class="addpanel">
        {% block addpanel %}
        {% endblock %}

        <li class="loginblock">
          {{ user }}
          {% if user.is_anonymous %}
          <a href="/admin/login/?next=/">login</a>
          {% else %}
          <a href="/admin/logout/?next=/">logout</a>
          {% endif %}
        </li>
    </div>
    {% if messages %}
        <ul class="detail messages">
            {% for message in messages %}
            <li{% if message.tags %} class="lightSpeedIn animated {{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% block content %}
    {% endblock %}

</body>
</html>