{% extends "base.html" %}{% load tags %}

{% block content %}
<div class="detail {{object|to_class_name}}">
    <div class="ribbon ribbon-left ribbon-in">
        <div class="ribbon-stitch">
            <div class="ribbon-fabric"><p> Edit <i class="fa fa-eye "></i> {{object.meta.verbose_name}} {{object}}</p></div>
            <div class="ribbon-top-left"></div>
            <div class="ribbon-bottom-left"></div>
        </div>
    </div>
    <div class="paper paper-curl-right">
        <form method="post" action=".">{% csrf_token %}
            {{ form.media }}
            {% for field in form %}
            <p>{{ field.label}}</p>
            <p> {{ field }} {% for error in field.errors %}{{ error }}{% endfor %}</p>
            {% endfor %}
            <div class="clear"></div>
            <input type="submit" class="save_button" value="Update" />
        </form>
    </div>
</div>
{% endblock %}