{% extends 'base.html' %}

{% load render_table from django_tables2 %}

{% block addpanel %}
    <ul>
        <li>
            <a class="fa fa-pencil" href="/add">Add</a>
        </li>
    </ul>
{% endblock %}

{% block content %}
	<h1>{{ object.meta.verbose_name_plural }}</h1>
	{% render_table table %}
{% endblock %}


