{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load tags %}
{% block addpanel %}
    <ul>
        <li>
            <a class="fa fa-pencil-square-o" href="/edit/{{ username }}">Edit</a>
        </li>
        <li>
            <a class="fa fa-pencil" href="/add">Add</a>
        </li>
        <li class="zayavka-dogovor-delete">
            <a class="fa fa-trash-o" href="/delete/{{ username }}">Delete</a>
        </li>
    </ul>
{% endblock %}
{% block content %}
<div class="detail ">
    <div class="ribbon ribbon-left ribbon-in">
        <div class="ribbon-stitch">
            <div class="ribbon-fabric"><p> View<i class="fa fa-eye "></i> User {{object}}</p></div>
            <div class="ribbon-top-left"></div>
            <div class="ribbon-bottom-left"></div>
        </div>
    </div>
    <div class="paper paper-curl-right">
        {% render_table table %}
    <hr>
    </div>
</div>
{% endblock %}

