html,body,ul{
    margin:0;
    padding:0;
	font-family: Helvetica,"Verdana"
}
body{
    min-width: 900px;
    background:url("/static/img/bckg.png");
    background-size: 100%;
}

.clear{
    clear:both;
}
h1{
    color:#fff;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.6);
    margin-left: 10px;
}
hr{
    clear:both;
}

/*BASE CLASS*/
.block-polovina{
    float:left;
    width:49%;
    display: inline-block;
}

.logo{
    float: left;
    height: 32px;
    background-repeat: no-repeat;
    margin: 0 10px 0 10px;
    background-size: 47%;
    background-position: right;
    color: #fff;
    text-align: left;
    font-weight: bold;
    line-height: 1.7em;
    font-size: 1.2em;
}
.toppanel{
    background-color:#376ebf;
    width:100%;
    min-height: 34px;
}

.toppanel nav{
   float:right;
    width:88%;
}
.addpanel{
    min-height: 34px;
    width:100%;
    background-color: rgba(0,0,0,0.5);
    border-radius: 0px 0px 8px 8px;
    color:#fff;
    padding:0px 10px;
    line-height:1.2em;
}
.addpanel ul{
    float: left;
}
.addpanel li, .addpanel li a{
    display:inline;
    color:#fff;
    text-decoration: none;
    line-height: 1.9em;
}
.big_add_button{
    text-decoration: none;
    color:#fff;
    background-color: rgba(0,0,0,0.8);
    padding:5px 15px;
    border-radius:20px;
    margin:6px 0px 0px 6px;
}
.smallpanel{
    width:25%;
}

nav ul li{
    list-style: none;
    display: inline;
    font-size: 1em;
    text-transform: uppercase;
}
nav ul li a{
    color:#fff;
    text-shadow: 1px 1px 1px #000;
    text-decoration:none;
    padding: 9px 2px;
}
nav ul li a:hover{
    color:#fff;
}
.loginblock{
    color: #fff;
    float: right;
    display: inline-block;
    margin:0 2%;
}
.loginblock a,.loginblock a:visited{
   color:#fff;
   text-decoration: underline;
}
.loginform{
    width: 20%;
    height: auto;
    border-radius: 5%;
    box-shadow: 2px 2px 2px 4px #000;
    margin: auto;
    margin-top: 3%;
    padding: 20px;
    text-align: center;
    font-size: 140%;
}
.loginform input {
    width: 78%;
    font-size: 100%;
    border-radius: 34px;
    padding: 2% 10%;

}
.form__search{
    float:right;
    margin-right:1%;
    margin-top: 6px;
}
.form__search input[name="q"]{
    width:100px;
    border-radius:20px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.form__search input[name="q"]:focus{
    width:200px;
}
/*ТАБЛИЦЫ*/
.table-container{
    max-width: 100%;
    text-overflow:ellipsis ;
    overflow: hidden;
}
.table__head{
	color:#0000ff;
	font-weight: bold;
	font-size:1.2em;
}
.paleblue{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-collapse:separate!important;
    display: block;


}

/*Кнопки*/
.button{
    background-color:#eee;
    color:#999!important;
    text-align: center;
    border:1px solid #ddd;
    display: block;
    border-radius: 11%;
    margin-right:5px;
    box-shadow: 1px 1px 7px rgba(0,0,0,0.2);
}





.FAQ {
    vertical-align: top;
    height:auto !important;
}
.list {
    display:none;
    height:auto;
    margin:0;
    float: left;
    position: absolute;
    left: 0;
    top: 40px;
    background-color: rgba(0,0,0,0.8);
    padding:10px;
    color:#fff;
    border-radius:10px;

}
.show {
    display: none;
}
.hide:target + .show {
    display: inline;
}
.hide:target {
    display: none;
}
.hide:target ~ .list {
    display:inline;
}


.list p{
    height:auto;
    margin:0;
}
.question {
	float: left;
	height: auto;
	width: 90%;
	line-height: 20px;
	padding-left: 20px;
	margin-bottom: 25px;
	font-style: italic;
}
/*CONTENT */
.detail{
    width:80%;
    margin:auto;
    padding: 10px;
}
.detail .ribbon{
    margin: -29px;
}
.detail form{
    display: inline-block;
}
.paper > p, .paper form > p{
    background-color: #eee;
    border-radius:10px;
    width:49%;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -moz-binding: url('assets/xml/ellipsis.xml#ellipsis');
    float:left;
    margin:3px 0px 3px 0px;
    padding:2px;
    min-height: 19px;
}
.primechanie{
    width: 99%!important;
    clear:both;
}
.primechanie p {
    width: 100%;
    clear:both;
}

.detail input,.detail select{
    margin: 0% 3%;
}
.save_button{
    background-color:#94fa49;
    color:#000;
    text-align: center;
    border:1px solid #ddd;
    display: block;
    border-radius: 5%;
    padding: 2%;
    float: right;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    cursor:pointer;
}
/*messages*/
.messages .success{
    background-color:#94fa49;
    list-style:none;
    padding:1%;
    font-size:1.3em;
    text-align:center;
}
